$cursor-color: #ae798f;






* {
    margin: 0;
    padding: 0;
}

body {

    height: 100vh;
    background-color: #403033;
    color: white;
}



.middle {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.text-wrapper {

    //? The font-size is reset to stop the <span> from adding a space after each letter.
    font-size: 0;

    overflow-wrap: break-word;
    max-width: 80%;
    
    p {
        span {
            font-family: 'Fira Code', 'consolas', monospace;
            font-size: 50px;
            
            // Letter status
            &.unused { color: #241f20; }
            &.correct { color: white; }
            &.incorrect { color: red; }

            // Add a cursor to the selected key
            &.selected {
                border-right: 5px solid $cursor-color;
                animation: blinking-cursor step-end 1.1s infinite;
            }
        }
    }
}





// Blinding cursor animation
@keyframes blinking-cursor {

    0% { border-color: $cursor-color; }
    50% { border-color: transparent; }
    100% { border-color: $cursor-color; }
}