* {
    margin: 0;
    padding: 0;
}

body {

    height: 100vh;
    background-color: #403033;
    color: white;
}



.middle {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


button {

    display: block;
    width: 20%;
    margin: 0px 50px;
    
    background-color: #ae798f;
    color: white;
    padding: 30px;
    border: none;
    border-radius: 5px;
}


.text-wrapper {

    //? The font-size is reset to stop the <span> from adding a space after each letter.
    font-size: 0;

    p {
        span {
            font-family: 'Fira Code', 'consolas', monospace;
            font-size: 50px;
            
            // Letter status
            &.unused { color: #241f20; }
            &.correct { color: white; }
            &.incorrect { color: red; }
        }
    }
}